* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* color: #fff; */
  /* border: 1px solid white; */
  font-size: 10px;
}
a {
  text-decoration: none;
  color: unset;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  width: 100%;
}

header div[class="head"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.head .lostark {
  width: 20%;
  height: 60px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  /* border: 1px solid red; */
}
.logo {
  width: 16%;
  height: 60px;
  /* border: 1px solid red; */
  /* padding: 5px 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo:hover {
  background: rgba(0, 0, 255, 0.3);
}

nav {
  width: 70%;
}
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}

nav li {
  width: 17%;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  overflow: hidden;
}
nav ul li a:hover {
  background: rgba(0, 0, 255, 0.3);
}

.login {
  width: 50px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  position: relative;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login i {
  font-size: 3rem;
}
.login:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffd5ce;
}
aside {
  position: relative;
  top: 60px;
  display: flex;
  width: 16%;
  color: #333;
  /* border: 1px solid black; */
  /* height: 100%; */
}

aside div {
  width: 16%;
  position: fixed;
  overflow: hidden;
  background-color: #ccc;
  height: 95%;
}

aside ul h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 20px 0;
}

aside ul ul {
  padding: 10%;
}
aside ul ul li {
  margin: 5px;
  font-size: 1.4rem;
}
section {
  position: relative;
  top: 60px;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  margin: 0 auto;
}
div[class="box"] {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
  /* border: 1px solid blue; */
  width: 100%;
}
div[class="img"] {
  width: 50%;
  height: 85vh;
  /* border: 1px solid black; */
  margin-top: 60px;
}
#home {
  width: 100%;
  height: 100vh;
  background: url("images/weekly.jpg") no-repeat top left/contain;
}
section img {
  display: block;
  margin: auto;
  height: 100%;
  /* border: 1px solid black; */
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  width: 100%;
  z-index: 10000;
  height: 8vh;
}

@media only screen and (max-width: 480px) {
  * {
    font-size: 6px;
  }
  div[class="img"] {
    width: 100%; /* 스마트폰 세로 환경에서는 전체 너비로 설정 */
  }
}
